<a href="https://colab.research.google.com/github/swathichatrathi/BASIC-ML/blob/main/Basic_python_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
PYTHON PROGRAMS 
20PA1A0527 : CH.SWATHI

In [ ]:
1. EVEN OR ODD PROGRAM IN PYTHON

In [3]:
number=int(input())
if (number%2==0): 
  print('GIVEN NUMBER IS AN EVEN NUMBER')
else: 
  print('GIVEN NUMBER IS ODD NUMBER')

54
GIVEN NUMBER IS AN EVEN NUMBER

In [ ]:
2. LEAP YEAR OR NOT

In [5]:
year=int(input())
if (year%400==0) or (year%4==0 and year%100!=0): 
  print('GIVEN YEAR IS A LEAP YEAR')
else: 
  print('GIVEN YEAR IS NOT A LEAP YEAR')

2021
GIVEN YEAR IS NOT A LEAP YEAR

In [ ]:
3.SUM OF FIRST N NATURAL NUMBERS

In [6]:
n=int(input())
sum=0 
for i in range(1,n+1): 
  sum+=i 
print("SUM OF FIRST",n,"NATURAL NUMBERS IS:",sum)

10
SUM OF FIRST 10 NATURAL NUMBERS IS: 55